.some-page-wrapper {
  
  background-color: #f0e8e8;;
  width: 80%;
  overflow-x: hidden;
  margin-left: 10% !important;
    margin-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}



.chart {
  background-color: #FFFFFF;
  height: 500px;
  width: 80%;
  text-align: center;
  margin-right: 10%;
  margin-left:10%;
  padding: 0% !important;
  border-radius: 2.5%;
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.apiText, .tokensText, .costText{
    text-align: center;
    
    border-radius: 5%;
    width: 60%;
    background-color: white;
    height: 200px;
    margin-left:20%;
}

.chartContainer {
  display: flex;
  justify-content: center; 
  align-items: center;     /* vertical (if height is set) */
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  
}