.page-wrapper {
  
  background-color: #f0e8e8;;
  width: 80%;
  overflow-x: hidden;
  margin-left: 10% !important;
  margin-right: 10%;
  min-height: 100vh;   
  
}

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  z-index: 10;
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
 
}

h2{
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.selectTeam, .selectDate{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 7%;
 font-weight: bold;
}

#teamSelect, #dateSelect{
  padding: 5px, 10px;
  font-size: 16px;
}

.loading{
  margin-left: 7%;
}

.chart {
  background-color: #FFFFFF;
  height: 400px;
  width: 95%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 0% !important;
  border-radius: 2.5%;
  display: flex;
  justify-content: center; 
  align-items: center;
}


.chartContainer {
  display: flex;
  justify-content: center;
      
}


@media screen and (max-width: 1256px) {

  #tokens{
    margin-top: 10% !important;
  }

  #top3{
    margin-bottom: 10% !important;
  }
}


@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  #tokens{
    margin-top: 5% !important;
  }
  
  
}