.page-wrapper {
  
  background-color: #f0e8e8;;
  width: 80%;
  overflow-x: hidden;
  margin-left: 10% !important;
    margin-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
 
}

h2{
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
}

.chart {
  background-color: #FFFFFF;
  height: 400px;
  width: 95%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 0% !important;
  border-radius: 2.5%;
  display: flex;
  justify-content: center; 
  align-items: center;
  

  
}


.chartContainer {
  display: flex;
  justify-content: center;
  gap: 50px !important; 
    
}



@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  
  
}